@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather&family=Montserrat&family=Oswald:wght@300&family=Sacramento&display=swap');
/* import statements go at top of the style sheet  */
/* better to import rather than linking fonts */

@keyframes hero-zoom {
  from{
    transform: scale(1);
    /* scales the image by 100% */
  }
/* sets the from (starting) point of our animation */
  to{
    transform: scale(1.1);
    /* scales the image to 110% */
  }
  /* sets the end point  */
}
/* creates the level of zoom for our hero image */

* {
  margin: 0;
  padding: 0;
  border: none;
}
/* asterisk * is a wild card */
/*
good practice to start the stylesheet to allow for more control over the box model measurements
and the positioning of elements within the design.
*/


body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}

/* headings & logo */
h1, h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

.active {
  border-bottom: 1px solid #3a3a3a
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
}

#hero-image {
  height: 600px;
  width: 100%;
  background: url(../images/hero-image.webp) no-repeat center center;
  /* background: can be used for decorative images */
  /* the "no repeat" will avoid the image being repeated if the screen is larger than the image */
  /* use <img> when including actual images within page */

  /* the below animates our hero image */
  /* see above animation styling */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;

}

#menu li {
  float: right;
  list-style-type: none;
  /* removes the default bullet points */
  margin-right: 30px;
  /* creates space between <li> items */
}

#menu a {
  text-decoration: none;
  /* this removes the default underline that <a> has */
  color: inherit;
  /* this will inherit the nearest parent who has a color set i.e <body> */
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
  /* underline onces hovering over links */
}

#logo {
  float: left;
  font-size: 280%;
  /* responive sizing to screen size  */
}

#menu {
  font-size: 110%;
  /* responive sizing to screen size */
  letter-spacing: 4px;
}

#menu, #logo {
  line-height: 75px;
  /* aims to center align our menu/logo within box */
}
