@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather&family=Montserrat&family=Oswald:wght@300&family=Sacramento&display=swap');
/* import statements go at top of the style sheet  */
/* better to import rather than linking fonts */

@keyframes hero-zoom {
  from{
    transform: scale(1);
    /* scales the image by 100% */
  }
/* sets the from (starting) point of our animation */
  to{
    transform: scale(1.1);
    /* scales the image to 110% */
  }
  /* sets the end point  */
}
/* creates the level of zoom for our hero image */

/* media queries */
/* for larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
  #club-ethos {
    width: 65%;
    height: 1200px;
    margin: 0 auto;
  }

  #welcome {
    padding: 30px 0;
    margin: 0;
  }

  #left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;
  }

  #center-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
  }

  #times > div {
    width: 100%;
    clear: both;
    height: 150px;
    padding: 0;
  }

  hr {
    display: none;
  }
}

/* for medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

  #menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }

  #cover-text {
    left: 0;
  }

  #club-ethos {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
  }

  #left-about h2, #right-about h2 {
    line-height: 25px;
  }

  .left-about-heading, .right-about-heading {
    width: inherit;
  }

  .left-about-heading h2, .right-about-heading h2 {
    width: 100%;
    text-align: center;
  }

  .left-about-heading p, .right-about-heading p {
    text-align: center;
    padding: 0 20px;
  }

  #photos {
    column-count: 3;
  }
}





* {
  margin: 0;
  padding: 0;
  border: none;
}
/* asterisk * is a wild card */
/*
good practice to start the stylesheet to allow for more control over the box model measurements
and the positioning of elements within the design.
*/


body {
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #3a3a3a;
}

hr {
  border-top: 1px solid #3a3a3a;
  width: 100%;
  margin: 5px 0;
}

footer {
  height: 150px;
}

/* headings & logo */
h1, h2 {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

.active {
  border-bottom: 1px solid #3a3a3a
}

.left-about-heading {
  width: 60%;
  float: right;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.right-about-heading {
  width: 60%;
  float: left;
  line-height: 20px;
  clear: both;
  margin-bottom: 50px;
}

.social-networks {
  text-align: center;
}

.right-about-heading h2 {
  text-align: right;
}

.right-about-heading p {
  text-align: right;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

#menu li {
  float: right;
  list-style-type: none;
  /* removes the default bullet points */
  margin-right: 30px;
  /* creates space between <li> items */
}

#menu a {
  text-decoration: none;
  /* this removes the default underline that <a> has */
  color: inherit;
  /* this will inherit the nearest parent who has a color set i.e <body> */
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
  /* underline onces hovering over links */
}

/* styles our overlay text */
#cover-text, #cover-text h2  {
  color: #fff;
}

#times div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, .6);
  width: 20%;
  height: 300px;
  float: left;
  padding: 30px 0 0 10px;
  text-align: center;
  border: 2px solid white;
  box-sizing: border-box;
}

#times h2 {
  color: #fafafa;
}

#photos > img {
  width: 100%;
}

#cover-text {
  font-size: 130%;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 300px;
  height: 200px;

  padding-top: 40px;
  padding-left: 10px;

  background-color: rgba(241, 109, 107, .7);
  /* setting the colour using rgba allows to set the opacity */

  bottom: 30px;
  right: 150px;

  position: absolute;
}

#logo {
  float: left;
  font-size: 280%;
  /* responive sizing to screen size  */
  margin-left: 30px;
}

#menu {
  font-size: 110%;
  /* responive sizing to screen size */
  letter-spacing: 4px;
}

#menu, #logo {
  line-height: 75px;
  /* aims to center align our menu/logo within box */
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;

  position: relative;
}

#hero-image {
  height: 600px;
  width: 100%;
  background: url(../images/hero-image.webp) no-repeat center center;
  /* background: can be used for decorative images */
  /* the "no repeat" will avoid the image being repeated if the screen is larger than the image */
  /* use <img> when including actual images within page */

  /* the below animates our hero image */
  /* see above animation styling */
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* club ethos design */
#club-ethos {
  height: 600px;

}

#left-about {
  padding-top: 30px;
  width: 33%;
  float: left;

  /* background-color: blue; */
  /* set contrasting background color to help visualise layout */
}

#right-about {
  padding-top: 30px;
  width: 33%;
  float: right;

  /* background-color: red; */
  /* set contrasting background color to help visualise layout */
}

#center-about {
  padding-top: 30px;
  margin: 0 auto;

  /* background-color: green; */
  /* set contrasting background color to help visualise layout */
}

#welcome {
  text-align: center;
  margin: 20px 0;
  font-size: 280%;
}

#circle-container {
  width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px;
  border-radius: 50%;
  /* the above creates a circle but needs a square container to be equal in width/height */
  margin: 0 auto;
}

#circle-cover-bg {
  background: url(../images/ethos-center-image.jpg) no-repeat center center;
  height: 100%;
  /* set the above to the parent <div> or the image wont show */

  border-radius: 50%;
  /* the above creates a circle but needs a square container to be equal in width/height */
}

/* event times image */
#times {
  background-image: url(../images/dublin-city.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

/* gallery */
#photos {
  clear: both;
  /* this displays the photos beneath the header */
  line-height: 0;
  /* removes horizontal gaps between images */
  column-count: 4;
  /* sets how many columns the images are displayed in */
  column-gap: 0;
  /* removes vertical gaps */
}

@media screen and (max-width: 800px) {
  #photos {
    column-count: 2;
  }

}
